@font-face {
    font-family: squiggly;
    src: url("../squigglyasta.ttf") format("truetype");
}

$dark-color: #3f3f3f;
$black: #000;
$white: #fff;
$po-pink: #DF5DA1;
$po-orange: #F69220;
$header-font-color: $po-orange;
$header-font-family: squiggly;
$body-font-color: #fff;

$button-font-med: rem-calc(100);
$button-font-tny: rem-calc(100);
$button-font-sml: rem-calc(100);
$button-font-lrg: 3rem;
$button-font-family: squiggly;


@import "partials/settings";
@import "partials/foundation";

body {
    background: $dark-color;
}

.pink {
    color: $po-pink;
}

.orange {
    color: $po-orange;
}

.small-header {
    font-size: 2rem;
    font-family: $header-font-family;    
}

.large-header {
    font-size: 3rem;
    font-family: $header-font-family;    
}

.main-header {
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);;
}

.main-div {
    // background: linear-gradient(rgba(0,0,0,0), $dark-color), url("../img/14.jpg") no-repeat;
    background: url("../img/viewing-party.jpg") no-repeat;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0 0 0 0;
    position: relative;
}

.main-div * {
    padding: 3rem;
}

.bottom {
    position: absolute;
    bottom: 30px;
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    height: 3rem;
    padding: 0px;
}
.scroll-down h3 {
    color: $white;
    padding: 0px;
    font-size: 3rem;
}

.bottom-right {
    position: absolute;
    right: 0px;
    bottom: 30px;
}

.logo {
    max-height: 30vh;
}

.button {
    margin-left: 1rem;
    height: 5rem;
    line-height: 3.5rem;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 0px;
}