<title>GGG17 @ Draken</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="js/jquery.js"></script>
<script src="js/foundation.js"/></script>
<script src="js/foundation.magellan.js"/></script>
<script src="js/main.js"></script>
<meta property="og:title" content="Worlds 2017 at Draken Göteborg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://pinkorange.se" />
<meta property="og:image" content="/img/" />
<meta charset="utf-8" />