<div class="row main-div">
    <h1 class="main-header">Gothenburg Game Gathering</h1>
    <!-- <p class="h2">We are streaming the final of worlds at Draken which 
        is a theatre located close to järntorget in Gothenburg</p> -->

    <img class="left logo bottom" src="/img/po-logo.png"/>
    <div class="small-12 scroll-down">
        <h3 class="text-center">Scrolla ned</h3>
    </div>
    <div class="bottom-right">
        <a href="https://www.facebook.com/pinkorange.se/"> 
            <button type="button" class="success large button right">facebook</button> 
        </a>     
        <a href="https://www.facebook.com/events/726008030938260"> 
            <button type="button" class="success large button right">event</button> 
        </a>     
    </div>
</div>